<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GathererTimetable.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GathererTimeTable.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="GathererTimeTable.Properties.Settings.BotanistCollectionConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\BotanistCollection.accdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <GathererTimetable.Settings>
            <setting name="AlarmType" serializeAs="String">
                <value />
            </setting>
            <setting name="SoundFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="AlarmDelayType" serializeAs="String">
                <value />
            </setting>
        </GathererTimetable.Settings>
        <GathererTimeTable.Settings>
            <setting name="AlarmType" serializeAs="String">
                <value />
            </setting>
            <setting name="SoundFilePath" serializeAs="String">
                <value />
            </setting>
        </GathererTimeTable.Settings>
    </userSettings>
</configuration>